body {
    margin: auto;
    padding: 1.5em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

footer {
    position: absolute;
	bottom: 0;
	width: 95%;
	height: 2.7em;
    background-color: #125387;
	color: #ffffff;
	margin-top: 35px;
	text-align: center;
	
	
}


header a {
    margin: 0 10px;
    height: 2.7em;
    text-align: center;
    line-height: 2.7em;

    font-family: monospace;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;

    color: #2196f3;
    transition: 0.5s;
}

header a:hover {
    font-size: 2.5em;
    color: rgb(83, 83, 83);
}

input {
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-size: 2em;
    width: 100%;
    height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #eceff1;
    color: #2196f3;
    border-radius: 4px;
    font-family: inherit;
}

#content {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1.5em;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
    border-radius: 4px;
    overflow-x: none;
}

table thead {
    background-color: #2196f3;
}

table thead td {
    font-weight: bold;
    text-align: left;
}

table td {
    padding: 1em;
}

table tr:nth-child(even) {
    background-color: #bbdefb;
}

table td:nth-child(1) {
    width: 25%;
    overflow-wrap: break-word;
}

table td:nth-child(2) {
    min-width: 75%;
    word-wrap: break-word;https://github.com/pavi2410/URL-Inspector
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }
	
    footer {
        flex-direction: column;
    }


    header a, header a:hover {
        font-size: calc(0.5em + 5vw);
    }
}

.github-corner svg {
    transition: 0.5s;
}

.github-corner svg:hover {
    height: 120px;
    width: 120px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    input {
        color: rgba(33, 150, 243);
        background-color: rgba(33, 150, 243, 0.25);
    }

    table thead {
        background-color: rgba(33, 150, 243, 0.25);
    }

    table thead td {
        color: rgb(33, 150, 243);
    }

    table td {
        color: rgba(33, 150, 243, 0.5);
    }

    table tbody tr:nth-child(odd) {
        background-color: rgba(33, 150, 243, 0.1);
    }

    table tbody tr:nth-child(even) {
        background-color: rgba(33, 150, 243, 0.15);
    }

    table table thead {
        background-color: #08263d;
    }

    table table tbody tr:nth-child(odd) {
        background-color: rgba(3, 15, 25, 0.25);
    }

    table table tbody tr:nth-child(even) {
        background-color: #030f19;
    }

    .corner-bg {
        fill: white;
    }

    .octo-arm, .octo-body {
        fill: black;
    }
}
