body {
    margin: auto;
    padding: 1.5em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

header a {
    margin: 0 10px;
    height: 2.7em;
    text-align: center;
    line-height: 2.7em;
    
    font-family: monospace;
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
    
    color: #2196f3;
    transition: 0.5s;
}

header a:hover {
    font-size: 2.5em;
    color: rgb(83, 83, 83);
}

input {
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-size: 2em;
    width: 100%;
    height: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #eceff1;
    color: #2196f3;
    border-radius: 4px;
    font-family: inherit;
}

table {
    margin-top: 1.5em;
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-collapse: collapse;
    border-radius: 4px;
    overflow-x: none;
}

table thead {
    background: #2196f3;
}

table thead th {
    font-weight: bold;
    color: white;
    text-align: left;
}

table td,
table th {
    padding: 1em;
}

table tr:nth-child(even) {
    background: #bbdefb;
}

table td:nth-child(1),
table th:nth-child(1) {
    width: 25%;
}

table td:nth-child(2),
table th:nth-child(2) {
    min-width: 75%;
    word-wrap: break-word;
}

@media (max-width:500px) {
    header {
        flex-direction: column;
    }

    header a, header a:hover {
        font-size: calc(0.5em + 5vw);
    }
}

.github-corner svg {
    transition: 0.5s;
}

.github-corner svg:hover {
    height: 120px;
    width: 120px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
    input {
        color: rgba(33, 150, 243);
        background-color: rgba(33, 150, 243, 0.25);
    }
    table thead {
        background: rgba(33, 150, 243, 0.25);
    }
    .corner-bg {
        fill: white;
    }
    .octo-arm, .octo-body {
        fill: black;
    }
}
